if SHIELD_DONGLEX7X4X2_RUNNER_LEFT

config ZMK_KEYBOARD_NAME
    default "donglex7x4x2_runner"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif # SHIELD_DONGLEX7X4X2_RUNNER_LEFT

if SHIELD_DONGLEX7X4X2_RUNNER_LEFT || SHIELD_DONGLEX7X4X2_RUNNER_RIGHT

config ZMK_SPLIT
    default y

endif # SHIELD_DONGLEX7X4X2_RUNNER_LEFT || SHIELD_DONGLEX7X4X2_RUNNER_RIGHT
