config SHIELD_DONGLEX7X4X2_LEFT
    def_bool $(shields_list_contains,donglex7x4x2_left)

config SHIELD_DONGLEX7X4X2_RIGHT
    def_bool $(shields_list_contains,donglex7x4x2_right)

config SHIELD_DONGLEX7X4X2_DONGLE
    def_bool $(shields_list_contains,donglex7x4x2_dongle)
