if SHIELD_DONGLEX7X4X2_LEFT

config ZMK_KEYBOARD_NAME
    default "donglex7x4x2"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif # SHIELD_DONGLEX7X4X2_LEFT

if SHIELD_DONGLEX7X4X2_LEFT || SHIELD_DONGLEX7X4X2_RIGHT

config ZMK_SPLIT
    default y

endif # SHIELD_DONGLEX7X4X2_LEFT || SHIELD_DONGLEX7X4X2_RIGHT
