config SHIELD_DONGLEX7X4X2_ERGO42_LEFT
    def_bool $(shields_list_contains,donglex7x4x2_ergo42_left)

config SHIELD_DONGLEX7X4X2_ERGO42_RIGHT
    def_bool $(shields_list_contains,donglex7x4x2_ergo42_right)

config SHIELD_DONGLEX7X4X2_ERGO42_DONGLE
    def_bool $(shields_list_contains,donglex7x4x2_ergo42_dongle)

config SHIELD_DONGLEX7X4X2_ERGO42_DONGLE_3C
    def_bool $(shields_list_contains,donglex7x4x2_ergo42_dongle_3c)

config SHIELD_DONGLEX7X4X2_ERGO42_DONGLE_3D
    def_bool $(shields_list_contains,donglex7x4x2_ergo42_dongle_3d)
